.join {
	&__container {
		padding: 3rem;
		width: 48rem;
		height: max-content;
		max-width: 90%;

		&__row{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
		}

		&--social {
			padding-top: 4rem;
			min-height: 50%;
			display: flex;
			flex-direction: column;
		}
	}

	&__head {
		display: flex;
		margin-bottom: 2rem;
		justify-content: center;
	}
}